# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
*.db
*.sqlite3
storage/

# Virtual env
venv/
.venv/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docs extracted
*.txt
!requirements.txt

# Original zip
*.zip
*.docx
